.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 180px;
    height: 30vh;
  }
  
  .form-container {
    background: rgba(255, 255, 255, 0.11);
    padding: 1em 2em;
    max-width: 400px;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.788);
  }
  
  .title {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .input {
    width: 100%;
    padding: 0.4rem;
    margin-bottom: 0.6rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s;
  }
  
  .input:focus {
    border-color: #133d6d;
  }
  
  .button {
    width: 100%;
    padding: 0.5rem;
    background-color: #b73333;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: #159617;
  }
  
  .success-message {
    background-color: #0b6f27af;
    color: #ffffff;
    padding: 0.2rem;
    border: 2px solid rgb(8, 147, 54);
    width: 60%;
    margin: 5px auto;
  }

  .error-message {
    background-color: #db3232af;
    color: #ffffff;
    padding: 0.1rem;
    box-shadow: 0 0 10px rgb(250, 87, 87);
    border-radius: 0.5rem;
    width: 50%;
    margin: 14px auto;
  }
  
  